#flexitem{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    flex-wrap: nowrap;
    /* gap: 20px; */
    /* justify-content:space-evenly; */
    /* align-items: baseline; */
    /*height: 100vh; */

}
.item{
    line-height: 20px;
    border: 1px solid black;
    height:100px ;
    width: 100px;
    background-color: yellow;
    text-align: center;

}
#child1{
    /* line-height: 150px; */
    /* flex-grow: 1; */
    order: 4;
}
#child5{
    /* line-height: 150px; */
    /* flex-grow: 1; */
    order: 1;
}
#child4{
    order:2 ;
}
