h1{
    height: 100vh;
    /* background-image: linear-gradient(to top right,red,green,blue); */
    border: 1px solid black;
    background-image: radial-gradient(circle farthest-corner at 150px 30px,red,green,blue);
}